# Default
.vscode/**
.vscode-test/**
test/**

# Dependencies
node_modules/**
pnpm-lock.yaml

# Config files
.gitignore
jsconfig.json
.eslintrc.json
webpack.config.js

# Build and logs
*.vsix
*.log

# macOS
.DS_Store

# Development Documentation
*.md
!README.md
!CHANGELOG.md

# Scripts
publish.sh
